
#bodyMain{
    width: 90%;
    height: 100%;
}

#bodyPhoto{
    
    background-image: url("./images/jeremy-bishop-u8kwr3pWVA4-unsplash.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    
}




